<div class="col-md-11 mx-auto mt-4">
  <!-- Jumbotron -->
  <div class="jumbotron">
    <h1 class="display-3">Contacto</h1>
    <hr class="my-4" />
    <p class="lead">
      Estamos aqui para lo que necesites. Haz click en cualquiera para ponerte
      en contacto con nosotros.
    </p>
  </div>
  <div class="row">
    <div class="col" style="min-width: max-content">
      <div class="card mb-4">
        <h4 class="card-header">Contacto Nutrarias Health</h4>
        <div class="card-body">
          <p class="card-text lead">
            <a href="mailto:nutrarias@gmail.com" class="card-link"
              ><img
                src="assets/img/gmaillogo.png"
                width="50"
                height="40"
                alt="Gmail"
                title="Correo a NutrariasHealth"
            /></a>
            <a class="card-link" href="mailto:nutrarias@gmail.com"
              >nutrarias@gmail.com</a
            >
            <br />
            <br />
            <a
              href="https://instagram.com/nutrarias"
              class="card-link"
              target="_blank"
              rel="noopener"
              ><img
                src="assets/img/instagramlogo.png"
                width="45"
                height="45"
                alt="Instagram"
                title="@nutrarias"
              />
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@nutrarias</a
            >
            <br />
            <br />
            <a
              href="https://twitter.com/nutrariashealth"
              class="card-link"
              target="_blank"
              rel="noopener"
              ><img
                src="assets/img/twitterlogo.png"
                width="40"
                height="40"
                alt="Twitter"
                title="@nutrariashealth"
              />
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@nutrariashealth
            </a>
            <br />
            <br />
            <a
              href="https://facebook.com/nutrarias"
              class="card-link"
              target="_blank"
              rel="noopener"
            >
              <img
                src="assets/img/facebooklogo.png"
                width="40"
                height="40"
                alt="Facebook"
                title="Nutrarias Health"
              />
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nutrarias Health
            </a>
          </p>
        </div>
      </div>
    </div>
    <!--Nutricion-->
    <div class="col">
      <div class="card mb-4" id="areaNutricion">
        <h4 class="card-header">Contacto Área Nutrición</h4>
        <div class="card-body">
          <p class="card-text lead">
            - Teléfono y WhatsApp:
            <br />&nbsp;&nbsp;
            <a href="tel:670358942" class="card-link"> 670 35 89 42</a>
            <br />
            <br />
            - Correo electrónico: &nbsp;
            <a href="mailto:robertoarias.nutricion@gmail.com" class="card-link">
              robertoarias.nutricion@gmail.com</a
            >
            <br />
            <br />
            - Skype: &nbsp;
            <a class="card-link" href="skype:live:.cid.38ba366b918aa3d8?chat">
              Roberto Arias Marron (34670 35 89 42)</a
            >
            <br />
          </p>
        </div>
      </div>
    </div>
    <!--Entrenamiento-->
    <div class="col">
      <div class="card mb-4" id="areaEntrenamiento">
        <h4 class="card-header">Contacto Área Entrenamiento</h4>
        <div class="card-body">
          <p class="card-text lead">
            - Teléfono y WhatsApp:
            <br />
            &nbsp;&nbsp;
            <a href="tel:664692115" class="card-link"> 664 69 21 15</a>
            <br />
            <br />
            - Correo electrónico: &nbsp;
            <a href="mailto:rs4training1@gmail.com" class="card-link">
              rs4training1@gmail.com</a
            >
            <br />
            <br />
            - Skype: &nbsp;

            <a class="card-link" href="skype:34664692115?chat">
              Raúl Salazar Ruiz de Dulanto (34664692115)
            </a>
            <br />
          </p>
        </div>
      </div>
    </div>
    <!--Psicologia-->
    <div class="col">
      <div class="card mb-4" id="areaPsicologia">
        <h4 class="card-header">Contacto Área Psicología</h4>
        <div class="card-body">
          <p class="card-text lead">
            - Teléfono y WhatsApp:<br />
            &nbsp;&nbsp;
            <a href="tel:634436844" class="card-link"> 634 43 68 44</a>
            <br />
            <br />
            - Correo electrónico: &nbsp;
            <br />
            <a href="mailto:martaperezbadala@gmail.com" class="card-link">
              martaperezbadala@gmail.com</a
            >
            <br />
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
