<div class="card mb-3">
  <div class="fondo-nutricion text-center" style="width: 100%; height: 350px">
    <div style="padding-top: 20%; padding-bottom: 30%">
      <h1 class="display-4 text-white" style="font-size: 390%">
        Área de Nutrición
      </h1>
      <h4 class="card-title text-muted">Metodología de Trabajo</h4>
    </div>
  </div>
  <div class="card-body">
    <p class="lead card-text">
      Sin una educación nutricional de calidad, cualquier dieta o recomendación
      pierden su valor al carecer de base sobre la que sostenerse. El valor de
      nuestro servicio reside en saber transmitir los conocimientos adecuados al
      paciente, con la finalidad de que su salud no sea esclava de un papel con
      desayunos, comidas y cenas, proporcionándole la conciencia y el
      conocimiento para que pueda escoger de forma eficaz, libre y responsable.
      Para ello trabajamos con un modelo de consulta online por videollamada, a
      través de las aplicaciones Zoom, Skype o WhatsApp.
      <br />
      <br />
      Además, ofrecemos un servicio de seguimiento y atención completa en
      cualquier momento del día a través de WhatsApp, Instagram, Twitter y
      llamadas telefónicas, con la finalidad de resolver cualquier duda,
      consulta o pregunta que pueda surgir durante la realización del plan. Para
      poder completar el servicio y dar la mejor asistencia, con la suscripción
      a la cuota trimestral de consultas se podrá acceder a contenido exclusivo
      sobre alimentación, salud y ejercicio. En Santander y alrededores el
      servicio de nutrición también se desplazara para poder atender a
      domicilio. Para cualquier pregunta no dudes en escribirnos y le
      atenderemos encantados.
    </p>
  </div>
  <p class="lead ml-4">Ofrecemos:</p>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <a [routerLink]="['/planes']" fragment="nutricionSencillo">
        Plan de Seguimiento Sencillo.</a
      >
    </li>
    <li class="list-group-item">
      <a [routerLink]="['/planes']" fragment="nutricionTrimestral">
        Plan de Seguimiento Trimestral.</a
      >
    </li>
    <li class="list-group-item">
      <a [routerLink]="['/planes']" fragment="nutricionDomicilio">
        Plan de Seguimiento a Domicilio.</a
      >
      <br />
      <em><small>(Solo Santander y alrededores)</small></em>
    </li>
    <li class="list-group-item">
      <a [routerLink]="['/planes']" fragment="nutricionEmpresas">
        Plan para Empresas.</a
      >
    </li>
  </ul>
  <div class="card-body">
    ¿Tienes alguna duda? ¿Necesitas más información? <br />
    <a
      [routerLink]="['/contacto']"
      fragment="areaEntrenamiento"
      class="card-link"
      >Ponte en contacto con nuestro nutricionista</a
    >
  </div>
  <div class="card-footer text-muted"></div>
</div>
