<div
  class="col-md-12 mx-auto mt-4"
  id="top"
  *ngIf="post$ | async as post; else loading"
>
  <a [routerLink]="['/blog']"> &larr;&nbsp;Volver atrás </a>

  <div class="card mb-3 mt-3">
    <h1 class="display-3 card-header">{{ post.headerPost }}</h1>
    <div class="card-body">
      <h2 class="card-title">{{ post.titlePost }}</h2>
      <h4 class="card-subtitle text-muted">{{ post.subtitlePost }}</h4>
    </div>
    <div class="text-center" style="max-width: inherit" *ngIf="post.imagePost">
      <img
        style="display: inline; max-width: 90vw; max-height: 600px"
        src="{{ post.imagePost }}"
        alt="Post image"
      />
    </div>
    <div class="card-body">
      <p class="lead card-text">
        {{ post.contentPost }}
      </p>
    </div>

    <div class="card-footer text-muted">
      Publicado el &nbsp;{{ post.datePost | date: format }}
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="mt-5 container-spinner">
    <mat-spinner></mat-spinner>
    <br />
  </div>
  <p class="lead text-center">Se está cargando la publicación...</p>
</ng-template>
