<div class="col-md-11 mx-auto mt-4">
  <!-- Jumbotron -->
  <div class="jumbotron">
    <h1 class="display-3">Cita Online</h1>
    <hr class="my-4" />
    <p class="lead">
      Reserva tu cita online de manera sencilla. Selecciona el área deseado y la
      fecha que mejor te venga para concertar cita con nosotros.
    </p>
  </div>

  <mat-vertical-stepper linear>
    <mat-step>
      <ng-template matStepLabel>Selecciona un área</ng-template>
      <mat-form-field appearance="fill">
        <mat-label> Selecciona un Área</mat-label>
        <mat-select [(value)]="area">
          <mat-option value="NUTR">Área Nutrición</mat-option>
          <mat-option value="ENTR">Área Entrenamiento</mat-option>
          <mat-option value="PSIC">Área Psicología</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" matStepperNext>
          Siguiente
        </button>
      </div>
    </mat-step>
    <mat-step label="Selecciona una fecha">
      <div class="row mt-3 mb-3">
        <div class="col mt-1 mb-2">
          <mat-card
            class="calendar-card;"
            style="min-width: 30vh; max-width: 60vh"
          >
            <mat-calendar
              [(selected)]="dateSelected"
              [minDate]="minDate"
              [maxDate]="maxDate"
            ></mat-calendar>
          </mat-card>
        </div>
        <div class="col">
          <div class="card mt-1 mb-2" style="min-width: 30vh; max-width: 60vh">
            <h4 class="card-header text-center">
              Citas para el día <br />
              {{ fechaNormalizada }}
            </h4>
            <div
              class="card-body text-center"
              *ngIf="existenCitas(); else loading"
            >
              <div class="d-grid gap-2 d-md-block">
                <button
                  *ngFor="let cita of listaCitas"
                  class="btn btn-primary mb-3 ml-3"
                  type="submit"
                  (click)="seleccionaHora(cita)"
                  matStepperNext
                >
                  {{ cita.hora }}
                </button>
              </div>
            </div>
            <ng-template #loading>
              <p class="lead text-center mt-3">
                Vaya, no hay citas para este día.
              </p>
            </ng-template>
          </div>
        </div>
      </div>
      <div>
        <button mat-stroked-button color="warn" matStepperPrevious>
          Atrás
        </button>
        <button class="ml-3" mat-raised-button color="primary" matStepperNext>
          Siguiente
        </button>
      </div>
    </mat-step>
    <mat-step [stepControl]="clienteForm">
      <ng-template matStepLabel>Introduce tus datos</ng-template>
      <div class="mt-3">
        <p class="lead" *ngIf="citaSeleccionada">
          Está reservando su cita para <b> {{ areaString }}</b> el dia
          <b>{{ fechaNormalizada }}</b> a las <b>{{ citaSeleccionada.hora }}</b
          >. Por favor, proporcione sus datos para realizar la reserva:
        </p>
      </div>
      <div class="mt-2">
        <form
          [formGroup]="clienteForm"
          (ngSubmit)="onReservaCita(clienteForm.value)"
        >
          <mat-form-field appearance="outline" class="mr-2">
            <input
              matInput
              placeholder="Nombre"
              type="text"
              formControlName="nombre"
              required
          /></mat-form-field>
          <mat-form-field appearance="outline" class="mr-2">
            <input
              matInput
              placeholder="Apellidos"
              type="text"
              formControlName="apellidos"
              required
          /></mat-form-field>
          <mat-form-field appearance="outline" class="mr-2">
            <input
              matInput
              placeholder="Teléfono"
              type="tel"
              formControlName="telefono"
              required
          /></mat-form-field>
          <mat-form-field appearance="outline" class="mr-2">
            <input
              matInput
              placeholder="Correo electrónico"
              type="email"
              formControlName="email"
              required
          /></mat-form-field>
          <div>
            <button mat-stroked-button color="warn" matStepperPrevious>
              Atrás
            </button>
            <button
              class="ml-3"
              mat-raised-button
              color="primary"
              matStepperNext
              type="submit"
            >
              Reservar
            </button>
          </div>
        </form>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Hecho</ng-template>
      <p class="lead" *ngIf="citaSeleccionada && cliente">
        Perfecto! Ha reservado su cita para <b> {{ areaString }}</b> el dia
        <b>{{ fechaNormalizada }}</b> a las <b>{{ citaSeleccionada.hora }}</b
        >.
      </p>
      <div>
        <button mat-stroked-button color="warn" matStepperPrevious>
          Atrás
        </button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
  <p>AREA: {{ area }}</p>
  <p>FECHA: {{ fechaSeleccionada }}</p>
  <div *ngIf="citaSeleccionada && cliente">
    <p>HORA: {{ citaSeleccionada.idcita }}</p>
    <p>CLIENTE: {{ cliente.email }}</p>
  </div>
  <div *ngIf="areaString">
    <p>AREA: {{ areaString }}</p>
  </div>
</div>
