<div class="col-md-11 mx-auto mt-4">
  <!-- Jumbotron -->
  <div class="jumbotron">
    <h1 class="display-3">Cita Online</h1>
    <hr class="my-4" />
    <p class="lead">
      Reserva tu cita online de manera sencilla. Selecciona el área deseado y la
      fecha que mejor te venga para concertar cita con nosotros.
    </p>
  </div>

  <!--Calendario -->
  <div class="row">
    <div class="col" style="min-width: max-content">
      <div class="card mb-4">
        <h4 class="card-header">Elige área</h4>
        <div class="card-body">
          <mat-form-field appearance="fill">
            <mat-label> Selecciona un Área</mat-label>
            <mat-select [(value)]="areaString">
              <mat-option value="NUTR">Área Nutrición</mat-option>
              <mat-option value="ENTR">Área Entrenamiento</mat-option>
              <mat-option value="PSIC">Área Psicología</mat-option>
            </mat-select>
          </mat-form-field>
          <p>Area seleccionada: {{ areaString }}</p>
        </div>
      </div>
    </div>
    <div class="col" style="min-width: fit-content">
      <div class="card mb-4">
        <h4 class="card-header">Elige día</h4>
        <div class="card-body">
          <mat-card class="calendar-card">
            <mat-calendar
              #calendar
              [minDate]="minDate"
              [maxDate]="maxDate"
              (selectedChange)="dateSelected = $event"
            ></mat-calendar>
          </mat-card>

          <p>Selected date: {{ fechaSeleccionada }}</p>
        </div>
      </div>
    </div>
    <div class="col" style="min-width: max-content">
      <div class="card mb-4">
        <h4 class="card-header">Elige la hora</h4>
        <div class="card-body">
          <div class="col" *ngFor="let cita of listaCitas">
            <div class="button">
              <button class="btn btn-primary" style="margin-top: 5px">
                {{ cita.hora }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <p class="lead text-center" style="padding: 10px">
      Selecciona una fecha o vuelve a intentarlo más tarde.
    </p>
  </ng-template>
</div>
