table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
  display: block;
  margin-top: 1rem;
}

.container-btn-new {
  display: flex;
  margin: 1rem;
}
.mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary {
  color: #f9d907;
}
