<div class="col-md-12 mx-auto mt-4" style="min-width: fit-content">
  <!-- Jumbotron -->
  <div class="jumbotron">
    <h1 class="display-4">Administrador</h1>
    <hr class="my-4" />
    <p class="lead">
      Esta es la página para administrar el blog y las tarifas. <br />
      Se recomienda el uso en navegador Google Chrome, preferiblemente en el
      ordenador, o en el móvil orientado horizontal.
    </p>
  </div>
  <!--TABLAPLANES-->
  <div
    class="card mb-4 border-primary"
    id="listaPlanes"
    style="min-width: min-content"
  >
    <h4 class="card-header">Tabla de Planes</h4>
    <div>
      <app-tablaPlanes></app-tablaPlanes>
    </div>
  </div>

  <!-- Anadir posts blog-->
  <div
    class="card border-primary mb-4"
    id="anadirPost"
    style="min-width: min-content"
  >
    <h4 class="card-header">Lista de Posts en el Blog</h4>
    <div>
      <app-list-posts></app-list-posts>
    </div>
  </div>

  <!-- Listado de Citas -->
  <div
    class="card border-primary mb-4"
    id="anadirPost"
    style="min-width: min-content"
  >
    <h4 class="card-header">Lista de Citas</h4>
    <div>
      <app-admin-citas></app-admin-citas>
    </div>
  </div>
</div>
