<aside class="col-md-5 mx-auto mt-5">
  <div class="card">
    <article class="card-body">
      <a class="float-left" [routerLink]="['/login']">
        &larr;&nbsp;Volver atrás
      </a>
      <br />
      <hr />
      <p class="text-center">
        <img
          class="text-center"
          src="/assets/img/logo.png"
          width="200"
          height="80"
          alt="NUTRARIAS"
        />
      </p>
      <hr />

      <h4 class="card-title mb-4 mt-1">Restablecer contraseña</h4>
      <p class="lead">Por favor, introduce debajo tu correo electrónico</p>

      <input
        type="email"
        class="form-control mb-4 mx-auto"
        placeholder="Correo electrónico"
        [formControl]="userEmail"
        required
      />
      <div class="form-group">
        <button
          type="button"
          class="btn btn-primary btn-sm"
          (click)="onResetPW()"
        >
          Restablecer contraseña
        </button>
      </div>
    </article>
  </div>
</aside>
