<div class="col-md-11 mx-auto mt-4">
  <!--Jumbotron-->
  <div class="jumbotron">
    <h1 class="display-3">Método Nutrarias</h1>
    <hr class="my-4" />
    <p class="lead">
      Nuestra metodología está diseñada específicamente para trabajar de forma
      personalizada y adaptada a las características de cada uno de nuestros
      pacientes, ofreciendo las mayores facilidades y una completa cobertura
      asistencial, siempre con el objetivo de lograr los mejores resultados en
      salud y calidad de vida.
    </p>
  </div>
  <!--Jumbotron ends-->

  <!--Body-->
  <div class="row">
    <!-- Area de nutricion-->
    <div class="col-lg-6 mb-3" id="nutricion">
      <app-nutricion></app-nutricion>
    </div>
    <!-- Area de Entrenamiento-->

    <div class="col-lg-6 mb-3">
      <div id="entrenamiento">
        <app-entrenamiento></app-entrenamiento>
      </div>
    </div>
  </div>
</div>
