/* You can add global styles to this file, and also import other style files */
.big-banner1 {
  background-image: url("src/assets/img/fotofondo1copia_opt.png");
  background-position: center;
  background-size: cover;
}
.big-banner2 {
  background-image: url("src/assets/img/fotofondo2copia_opt.png");
  background-position: center;
  background-size: cover;
}
.big-banner3 {
  background-image: url("src/assets/img/fotofondo3copia_opt.png");
  background-position: center;
  background-size: cover;
}
.fondo-nutricion {
  background-image: url("src/assets/img/Fotofondonutricioncopia_opt.png");
  background-position: center;
  background-size: cover;
}

.fondo-entrenamiento {
  background-image: url("src/assets/img/Fotofondoentrenamientocopia_opt.png");
  background-position: center;
  background-size: cover;
}
.fondo-psicologia {
  background-image: url("src/assets/img/Fotofondopsicologiacopia.png");
  background-position: center;
  background-size: cover;
}

.fondo-suave {
  position: relative;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  background-color: rgba(103, 102, 102, 0.45);
  background-size: cover;
}

.fondo-oscuro::before {
  content: "";
  position: absolute;

  background-color: rgba(103, 102, 102, 0.7);
}
.fondo-oscuro {
  position: relative;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  background-color: rgba(103, 102, 102, 0.7);
  background-size: cover;
}

.fondo-suave::before {
  content: "";
  position: absolute;

  background-color: rgba(103, 102, 102, 0.45);
}
.fondo-blanco-titulo {
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.25);
  background-size: cover;
}

.fondo-blanco-titulo::before {
  content: "";
  position: absolute;

  background-color: rgba(255, 255, 255, 0.25);
}
h1.bonus {
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}
h2.bonus {
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}
h6.bonus {
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.carousel .carousel-item {
  height: 400px;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 400px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.container-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #91e468;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
