<div class="col-md-10 mx-auto mt-4">
  <div class="card mb-3 ml-1 mr-1">
    <div id="carouselID" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselID" data-slide-to="0" class="active"></li>
        <li data-target="#carouselID" data-slide-to="1"></li>
        <li data-target="#carouselID" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            class="d-block w-100"
            src="/assets/img/fotofondo1copia_opt.png"
            alt="Portada"
          />
          <div class="carousel-caption d-block d-sm-none">
            <h1 class="display-4" style="font-size: 400%">Nutrarias Health</h1>
            <p class="fondo-oscuro" style="font-size: small">
              En Nutrarias Health cuidamos tu salud ofreciendo un servicio
              íntegro y de calidad a través de un equipo multidisciplinar con
              los mejores profesionales en nutrición, entrenamiento personal y
              psicología.
            </p>
          </div>
          <div class="carousel-caption d-none d-sm-block">
            <h1 class="display-3">Nutrarias Health</h1>
            <p class="fondo-suave" style="font-weight: 600; font-size: medium">
              En Nutrarias Health cuidamos tu salud ofreciendo un servicio
              íntegro y de calidad a través de un equipo multidisciplinar con
              los mejores profesionales en nutrición, entrenamiento personal y
              psicología.
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            class="d-block w-100"
            src="/assets/img/fotofondo2copia_opt.png"
            alt="Metodo Unico"
          />
          <div class="carousel-caption d-block d-sm-none">
            <h1 class="display-4" style="font-size: 400%">Método Único</h1>
            <p class="fondo-suave" style="font-size: small">
              Nuestra metodología está diseñada específicamente para trabajar de
              forma personalizada y adaptada a las características de cada uno
              de nuestros pacientes, ofreciendo las mayores facilidades y una
              completa cobertura asistencial, siempre con el objetivo de lograr
              los mejores resultados en salud y calidad de vida.
            </p>
            <a class="btn btn-sm btn-danger" href="/metodo"> Conócelo</a>
          </div>
          <div class="carousel-caption d-none d-sm-block">
            <h1 class="display-3">Método Único</h1>
            <p class="fondo-suave" style="font-weight: 600; font-size: medium">
              Nuestra metodología está diseñada específicamente para trabajar de
              forma personalizada y adaptada a las características de cada uno
              de nuestros pacientes, ofreciendo las mayores facilidades y una
              completa cobertura asistencial, siempre con el objetivo de lograr
              los mejores resultados en salud y calidad de vida.
            </p>
            <a class="btn btn-sm btn-danger" [routerLink]="['/metodo']">
              Conócelo</a
            >
          </div>
        </div>

        <div class="carousel-item">
          <img
            class="d-block w-100"
            src="/assets/img/fotofondo3copia_opt.png"
            alt="Equipo de Expertos"
          />

          <div class="carousel-caption d-block d-sm-none">
            <h1 class="display-3" style="font-size: 360%">
              <strong>Equipo de Expertos</strong>
            </h1>
            <p class="fondo-oscuro" style="font-size: medium">
              Entra ahora a conocer a nuestro
              <strong>
                <a class="card-link text-warning" href="/equipo"
                  >Equipo de Profesionales</a
                >
              </strong>
              . Y para cualquier duda o consulta no dudes en ponerte en
              <a class="card-link text-warning" href="/contacto">Contacto</a>
              con nosotros.
            </p>
          </div>
          <div class="carousel-caption d-none d-sm-block">
            <h1 class="display-3">Equipo de Expertos</h1>
            <p class="fondo-suave" style="font-weight: 600; font-size: large">
              Entra a conocer a nuestro
              <a href="/equipo" class="text-warning">Equipo de Profesionales</a>
              y para cualquier duda o consulta no dudes en ponerte en
              <a href="/contacto" class="text-warning">Contacto</a>
              con nosotros.
            </p>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselID"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previo</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselID"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6" style="min-width: 40; max-width: 100vh">
      <!--Video Roberto-->
      <div class="card embed-responsive embed-responsive-16by9 mb-3">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube-nocookie.com/embed/KPiwNhZuKzQ?autoplay=1&mute=1"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="col-lg-6" style="min-width: 40; max-width: 100vh">
      <!--Video Raul-->
      <div class="card embed-responsive embed-responsive-16by9 mb-3">
        <iframe
          width="315"
          height="315"
          src="https://www.youtube-nocookie.com/embed/lGFtOX4Duvc"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="col-lg-6" style="min-width: 40; max-width: 100vh">
      <!--Video Marta-->
      <div class="card embed-responsive embed-responsive-16by9 mb-3">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube-nocookie.com/embed/og0Hvvkzy8o"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <div class="col-lg-5 mr-2 ml-2">
      <div class="row text-center">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Mantente al día</h4>
              <p class="card-text">
                Síguenos en nuestras redes sociales para estar informado de
                todas nuestras novedades.
              </p>
              <div class="text-center">
                <a
                  href="https://instagram.com/nutrarias"
                  class="card-link"
                  target="_blank"
                  ><img
                    src="assets/img/instagramlogo.png"
                    width="40"
                    height="40"
                    alt="Instagram"
                    title="@nutrarias"
                /></a>
                <a
                  href="https://twitter.com/nutrariashealth"
                  class="card-link"
                  target="_blank"
                  ><img
                    src="assets/img/twitterlogo.png"
                    width="40"
                    height="40"
                    alt="Twitter"
                    title="@nutrariashealth"
                /></a>
                <a
                  href="https://www.facebook.com/Nutrarias"
                  class="card-link"
                  target="_blank"
                  ><img
                    src="assets/img/facebooklogo.png"
                    width="40"
                    height="40"
                    alt="Facebook"
                    title="Nutrarias Health"
                /></a>
                <a href="mailto:nutrarias@gmail.com" class="card-link"
                  ><img
                    src="assets/img/gmaillogo.png"
                    width="50"
                    height="40"
                    alt="Gmail"
                    title="Correo a NutrariasHealth"
                /></a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mt-3" style="min-width: 325px">
              <div class="card-body">
                <h4 class="card-title">Adquiere tu Plan</h4>
                <p class="card-text">
                  Obtén el plan que mejor se ajuste a tus necesidades.
                </p>
                <div class="row">
                  <div class="col text-center">
                    <a href="/metodo#nutricion" class="card-link"
                      >Servicio de Nutrición</a
                    >
                  </div>
                  <div class="col text-center">
                    <a href="/metodo#entrenamiento" class="card-link"
                      >Entrenamiento Personal</a
                    >
                  </div>
                  <div class="col text-center">
                    <a href="/equipo#psicologia" class="card-link"
                      >Servicio de Psicología</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
