<footer class="text-center mt-3 mb-4 ml-2 mr-2 static-bottom">
  <!--Small screens-->
  <div class="d-md-none" style="font-size: 70%">
    <div class="mb-2">
      <a class="navbar-item" href="">
        <img src="/assets/img/logo.png" width="65" height="25" alt="Inicio" />
      </a>
      &copy;
    </div>
    <small>
      Todos los derechos reservados &nbsp;&nbsp;| &nbsp;&nbsp;Sitio web
      desarrollado por
      <a href="https://www.linkedin.com/in/javier-barquin">Javier Barquin</a>
    </small>
  </div>
  <!--Big Screens-->
  <div class="d-none d-md-block">
    <small>
      <a class="navbar-item" href="">
        <img
          src="/assets/img/logo.png"
          width="70"
          height="30"
          alt="NUTRARIAS"
        /> </a
      >&nbsp; &copy; &nbsp;&nbsp;|&nbsp;&nbsp; Todos los derechos reservados
      &nbsp;&nbsp;| &nbsp;&nbsp;Sitio web desarrollado por
      <a href="https://www.linkedin.com/in/javier-barquin">Javier Barquin</a>
    </small>
  </div>
</footer>
