<div class="new-post-container">
  <div class="mat-form-container">
    <form [formGroup]="editPostForm" (ngSubmit)="editPost(editPostForm.value)">
      <!--Cabecera del post-->
      <mat-form-field appearance="outline">
        <mat-label>Cabecera del Post</mat-label>
        <input
          matInput
          placeholder="Introduce la Cabecera"
          type="text"
          formControlName="headerPost"
        />
      </mat-form-field>
      <!--Titulo del post-->
      <mat-form-field appearance="outline">
        <mat-label>Título del Post</mat-label>
        <input
          matInput
          placeholder="Introduce el título"
          type="text"
          formControlName="titlePost"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <!--Subtitulo del post-->
        <mat-label>Subítulo del Post</mat-label>
        <input
          matInput
          placeholder="Introduce el subtítulo"
          type="text"
          formControlName="subtitlePost"
        />
      </mat-form-field>
      <br />
      <!--Fecha de Publicacion-->
      <mat-form-field class="">
        <mat-label>Fecha del Post</mat-label>
        <input
          matInput
          placeholder="Introduce la fecha"
          type="datetime-local"
          formControlName="datePost"
        />
      </mat-form-field>
      <br />
      <!--Contenido del post-->
      <mat-form-field appearance="fill">
        <mat-label>Contenido del Post</mat-label>
        <textarea
          matInput
          placeholder="Opcional"
          rows="10"
          formControlName="contentPost"
        ></textarea>
      </mat-form-field>
      <br />
      <div class="form-group">
        <!--Imagen del Post-->
        <label for="exampleInputFile">Subir foto</label>
        <input
          type="file"
          class="form-control-file"
          id="exampleInputFile"
          formControlName="imagePost"
          (change)="handleImage($event)"
        />
        <small id="fileHelp" class="form-text text-muted"
          >Tamaño maximo admitido 10MB.</small
        >
      </div>
      <br /><br />
      <mat-dialog-actions align="center">
        <input
          type="submit"
          class="btn btn-success"
          value="Guardar"
          [mat-dialog-close]="true"
        />
      </mat-dialog-actions>
    </form>
  </div>
</div>
