<div class="new-plan-container">
  <div class="mat-form-container">
    <form [formGroup]="editPlanForm" (ngSubmit)="editPlan(editPlanForm.value)">
      <!--PlanPriceID-->
      <mat-form-field appearance="outline" class="mr-2">
        <mat-label> Copia el priceId de Stripe</mat-label>
        <input
          matInput
          placeholder="ej: price_1HW8kGKz8hb8VNavFycLKd7k "
          type="text"
          formControlName="priceId"
        />
      </mat-form-field>
      <!--Area-->
      <mat-form-field appearance="outline" class="mr-2">
        <mat-label>Selecciona el area del servicio:</mat-label>
        <mat-select
          matInput
          placeholder="Área del servicio"
          formControlName="area"
        >
          <mat-option selected="">Seleccionar Área</mat-option>
          <mat-option value="nutricion">SERVICIO DE NUTRICIÓN</mat-option>
          <mat-option value="entrenamiento">
            SERVICIO DE ENTRENAMIENTO
          </mat-option>
          <mat-option value="psicologia">SERVICIO DE PSICOLOGÍA</mat-option>
        </mat-select>
      </mat-form-field>
      <!--Tipo-->
      <mat-form-field appearance="outline" class="mr-2">
        <mat-label>Seleciona el tipo de plan:</mat-label>
        <mat-select matInput placeholder="Tipo de Plan" formControlName="tipo">
          <mat-option selected="">Seleccionar Plan</mat-option>
          <mat-option value="SENCILLO">SENCILLO</mat-option>
          <mat-option value="TRIMESTRAL">TRIMESTRAL</mat-option>
          <mat-option value="ONLINE">ONLINE</mat-option>
          <mat-option value="DOMICILIO">DOMICILIO</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <!--Nombre-->
      <mat-form-field appearance="outline" class="mr-2">
        <mat-label>Escribe el título del plan</mat-label>
        <input
          matInput
          type="text"
          placeholder="Nombre del plan"
          formControlName="nombre"
        />
      </mat-form-field>
      <!--Subtitulo-->
      <mat-form-field appearance="outline" class="mr-2">
        <mat-label>Escribe el subtítulo del plan</mat-label>
        <input
          matInput
          type="text"
          placeholder="Subtítulo del plan"
          formControlName="subtitulo"
        />
      </mat-form-field>
      <br />
      <!--Precio-->
      <mat-form-field appearance="outline" class="mr-2">
        <mat-label class="control-label">Introduce el precio</mat-label>
        <input
          matInput
          type="number"
          aria-label="Precio"
          placeholder="Precio"
          formControlName="precio"
        />
        <span matSuffix>.00 &nbsp;&euro;</span>
      </mat-form-field>
      <br />
      <!--Descripcion-->
      <mat-form-field appearance="fill" class="mr-2">
        <mat-label>Descripción</mat-label>
        <textarea matInput rows="5" formControlName="descripcion"></textarea>
      </mat-form-field>
      <br />
      <br />
      <mat-dialog-actions align="center">
        <input
          type="submit"
          class="btn btn-success"
          value="Guardar"
          [mat-dialog-close]="true"
        />
      </mat-dialog-actions>
    </form>
  </div>
</div>
